/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Playfair+Display:ital,wght@1,500&display=swap'); */


*{
    margin: 0;
    padding: 0;
    font-size:'Poppins',sans-serif;
    box-sizing: border-box;
}
.design{
    margin:0 3% 2% auto;
}
.header-text{

    text-align: center;
}
.img{
    height: 60%;
    width: 30%;
    position: absolute;
    right:3rem;
    top:10rem;
}
.image_container{
    transition: all 450ms;
}

.image_container:hover{
    transform: scale(1.1);
}

.image_container:focus{
    transform: rotate('180');
}

body{
    background:black;
}
#header{
    width:100% ;
    height:100vh;
    background-size: cover; 
    background-position: center;
    background-image: url();
}
.container{
    margin-top:0px;
    padding:0;
}

nav{
    display: flex;
    gap:8rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
.navbar-thing{
    margin-top:1.5rem;
    position: absolute;
    right:2rem;
}
nav  ul li{
    display: inline-block;
    list-style: none;
    margin-top:0px;
    padding:0px 0px;
}
a {
    margin-inline: 0.5rem;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 10px;
    border-radius: 1rem;
    padding-block: 6px;
    transition: all 300ms;
}
.center-div{
    padding: -90rem;
    font-size: larger;
    font-weight: bold;
}
.center-div-side{
    height: 3rem;
}

nav ul {
    padding: 0;

}
nav ul li a:hover{
    background-color: white;
    font-weight: bold;
    color: #ff004f;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul ul li a:hover::after {
    width:100px;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
    padding:5px 5%;
}
.header-text h1{
    font-size: 4rem;
    margin-top: 70px;
}
.header-text h1 span1{
    color: #ff004f;
} 
/* ----ABOUT---- */
#about{
    padding: 10px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    height: 90%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
    
}
.aboutu{
    margin-bottom: 20px;
    text-align: center;
}
.aboutThing{
    padding-block: 10px;
    text-align: center;
    font-size: 1rem;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style:none;
    margin:10px 0;
    font-size: 25px;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 24px;
    margin:0 2% 0 0;
}
.tab-contents{
    display: none;
    font-size: 1rem;
}
.tab-contents.active-tab{
    display: block ;
}
/* ------services------ */

#services{
    padding: 30px 0;
    margin:0 3% auto;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;   
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 12px;
    font-weight: 200;
    border-radius: 10px; 
    transition: background 0.5s,transform 0.5s;   
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top:20px;
    display: inline-block;   
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.workkrle{
    font-size: 1.5rem;
    padding: 0;
}
/* -----portfolio-------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size:18px;
    line-height: 60px;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background:#ff004f;
}
/* ---------contact------ */
#contact{
    margin:0 3% auto;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 10px 0;
    background:#262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
    height:0.5rem;
}
nav .fas{
    display: none;
}
html{
    scroll-behavior: smooth;
}
.workkrle{
    margin:2% 3% auto;
}
.portfoliokrle{
    margin:2% 3% auto;
    padding: 0;
}
#portfolio{
    padding: 0;
}
#services{
    padding: 0;
}
/* --------css for small screen------ */
@media only screen and (max-width:600px){
    .display_thing{
        display: block;
    }
    .hide{
        display: none   ;
    }
    #header{
        background-image: url();
    }
    .work{
        margin:0 5% 0 5% ;
    }
    .work-list{
        /* margin:0 0 0 0; */
        padding: 0%;
    }
    .header-text{
        margin-top: 20%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 2rem;
    }
    nav .fas{
        display: block;
        font-size:25px;
    }
    nav ul{
        background:#ff004f;
        position: fixed;
        top:0;
        right: -160px;
        width:160px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.3s;
    }
    nav ul li{
        display: block;
        margin:25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
    .sub-title{
        font-size:40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right:20px;
    }
    .contact-left{
        flex-basis: 100%;
        padding:8%;
        margin-top:-2rem;
        height:50%;
    }
    .conttact-left sub-title{
        width: 200%;
        height: 200%;
        font-size: 80%;
        margin-top: 0;
    }
    .contact-right{
        flex-basis: 100%;
        margin:-2rem 3% auto;

    }
    .copyright{
        font-size: 18px;
        width: 100%;
        height: 6%;
        padding: 13px;
    }
    .services-list{
        margin:0 3% auto;
    }
    .sub-title{
        margin:5% 3% auto;
        font-size: 3.5rem;
    }
    .okucan{
            width: 100%;
            display:flex;
            justify-content: center;
    }
    .workkrle{
        margin:2% 3% auto;
    } 
    .portfoliokrle{
        padding: 0rem;
        margin-top:0rem;
    }
#msg{
    color: #61b752;
    margin-top: -35px;
    display: block;
}
}
    